  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Goodbye measuring</h2>
          <p class="text-white-75">The technology behind incon.ai guides complex construction tasks, impossible to build before. Used on your phone or an Augmented Reality headset, the software takes care of all measuring and working steps. incon.ai enables everyone to be a star mason.</p>
        </div>
      </div>
      <img src="img/brick_wall_greece_hh_no_bg.png" class="img-fluid" alt="">
    </div>
  </section>
