  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container logos">
      <div class="col-lg-12">
        <a href="https://3dpc.io/" target="_blank"><img class="img-fluid support-logo" src="img/3dpcio_winner_architecture.png" alt="3dpci.io 2020 winner architecture"></a>
        <a href="https://ethz.ch/en/industry-and-society/entrepreneurship/ielab.html" target="_blank"><img class="img-fluid support-logo" src="img/ielab.png" alt="ielab ETH Zurich"></a>
      </div>
    </div>

    <div class="container">
      Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</br>Image credits Gramazio Kohler Research, ETH Zurich
    </div>
  </footer>
