  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container logos">
      <div class="col-lg-12">
        <img class="img-fluid support-logo" src="img/3dpcio.png" alt="3dpci.io 2020 finalist">
        <img class="img-fluid support-logo" src="img/ielab.png" alt="3dpci.io 2020 finalist">
      </div>
    </div>

    <div class="container">
      Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</br>Image credits Gramazio Kohler Research, ETH Zurich
    </div>
  </footer>
