  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates or send us direct enquiries for your building project!</h2>
          <form id="contactform" class="form-inline d-flex" action="https://formsubmit.io/send/a9568f17-02cb-4406-a770-639838e67660" method="POST">
            <input name="_redirect" type="hidden" id="name" value="http://incon.ai/index.html#signup">
            <input type="email" name="_replyto" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="email" placeholder="Enter email address...">
            <input name="_formsubmit_id" type="text" style="display:none">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>
