<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <body id="page-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">
    {% include project_highlight.html %}
    {% include projects.html %}
      </div>
    </section>
    {% include signup.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
